
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unauthorized</title>
</head>
<body>
    <table align="center">
        <tr>
            
            <td align="center">

                <img src="~/images/Unauthorized.jpg" height="500" width="1000" alt="Unauthorized" />

            </td>
        </tr>
    </table>
</body>
</html>
