@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hospital Bed and Blood Management System<br />
    Baruipur,Kolkata-144<br />
    phone-9876543210<br />
    whatsapp no-9876543210<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@hbbms.com">Support@hbbms.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@hbbms.com">Marketing@hbbms.com</a>
</address>