
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Help</h2>

1.First, Register Yourself as General User by clicking the register button in login menu.<br/>
2.Then, login with your given User Name and Password.<br />
3.Next, request for you preferred service(s).<br />
4.Finally,Check for the status in after some time.<br />We will also notify you as soon as possible.<br />
5.If any problem occurs,feel free to contact Us.

<a href="~/Home/ContactUs">Click here to contact with Us</a>


