@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">
        It is an application of Hospital Bed and Blood Managemnt System.It provides two crucial services - <br /> 
        1. Hospital Bed Booking for Emergency patients to ensure tratment , and <br />
        2. Blood Booking Request for Emergency patients in case of inavailability of a particular blood group.<br />
        You have to give some basic information to get registered and then you can request for those services.
        We will try our level best to serve you as soon as possible.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
    <img src="~/images/bed.png" height="400" width="400" />
    </div>
    <div class="col-md-4">
        <img src="~/images/HBBMS_LOGO.jpg" height="400" width="400" /> 
    </div>
    <div class="col-md-4">
        <img src="~/images/blood.jpg" height="400" width="400" /> 
    </div>
</div>